################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/3er Año/Net/Unidad02/Capitulo03/ChayaShakir.NET/ChayaShakir.Domicilio/ListaVehiculo.cs
